{{ $sectionID := replace (lower .section.name) " " "-" }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}
{{ if .section.enable }}

<div class="container-fluid anchor pb-5 reel-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
      <span id="{{ $sectionID }}"></span>{{ .section.name }}
    </h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
      <span id="{{ $sectionID }}"></span>{{ .section.name }}
    </h1>
  {{ end }}

  <!-- Range reels -->

  {{ range .reels }}
    {{ $embedUrl := replace .url "vimeo.com/" "player.vimeo.com/video/" }}
    <div class="video-container mb-4 d-flex flex-column align-items-center">
      <h3 class="text-center mb-3">{{ .name }}</h3>
      <div class="ratio ratio-16x9 w-100" style="max-width: calc(calc(100% - 45rem));">
        <iframe
          src="{{ $embedUrl }}"
          title="{{ .name }}"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  {{ end }}

</div>
{{ end }} <!-- .section.enable -->